/* Download screen */

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}

.loading {
  display: flex;
  flex-direction: column;
}

button {
  padding: 15px;
  margin-top: 15px;
  background-color: white;
  border: 3px solid black;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

span {
  font-size: 20px;
}

.fadeOut {
  transition: 0.7s;
  opacity: 0;
}
